.canvas-box{
    border-style: dotted;
    border-width: 2px;
    height: 300px;
}

.buffer-small{
    height: 100px
}

.properties-panel{
    width: 300px;
    border-style: solid;
    border-width: 2px;
}

.layers-panel{
    background-color: cornflowerblue;
    width: 300px 
}

#layers-list{
    cursor: pointer;
}

.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.color-picker{
    padding: 10px;
    width: 200px;
    border-style: dotted;
    border-width: 2px;
}

.color-box{
    height: 50px;
    margin: 10px;
}